@font-face {
  font-family: 'ProximaNovaCnRegular';
  src: url("/fonts/ProximaNova/CnRegular.woff") format("woff"), url("/fonts/ProximaNova/CnRegular.ttf") format("truetype"), url("/fonts/ProximaNova/CnRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCnRegular';
  src: url("/fonts/ProximaNova/ExCnRegular.woff") format("woff"), url("/fonts/ProximaNova/ExCnRegular.ttf") format("truetype"), url("/fonts/ProximaNova/ExCnRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url("/fonts/ProximaNova/Light.woff") format("woff"), url("/fonts/ProximaNova/Light.ttf") format("truetype"), url("/fonts/ProximaNova/Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("/fonts/ProximaNova/Regular.woff") format("woff"), url("/fonts/ProximaNova/Regular.ttf") format("truetype"), url("/fonts/ProximaNova/Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url("/fonts/ProximaNova/Semibold.woff") format("woff"), url("/fonts/ProximaNova/Semibold.ttf") format("truetype"), url("/fonts/ProximaNova/Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaTThin';
  src: url("/fonts/ProximaNova/TThin.woff") format("woff"), url("/fonts/ProximaNova/TThin.ttf") format("truetype"), url("/fonts/ProximaNova/TThin.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ProximaNovaSemibold", sans-serif;
  font-weight: normal;
}

html,
body {
  margin: 0;
  font-family: "ProximaNovaRegular", sans-serif;
  font-size: 13px;
  color: #333;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body > header {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

body > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  overflow: auto;
  padding: 30px 0;
}

body > footer {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1280px;
}

